# Ignore binary files
*.class
bin/
target/
*.so
OpenAL64.dll
lwjgl64.dll
*.dylib


# Ignore eclipse settings files
.settings/

# Ignore windows auxilary files
Thumbs.db

# Ignore IntelliJ settings files
contextproject-migi2.iml
.idea/
