# Ignore binary files
*.class
bin/
target/

# Ignore system specific binaries
*.so
*.dll
*.dylib

# Ignore eclipse settings files
.settings/

# Ignore windows auxilary files
Thumbs.db

# Ignore IntelliJ settings files
contextproject-migi2.iml
.idea/

# Ignore log files
logs/
