html, body {
	height: 100%;
	width: 100%;
}
#elvesButtons, #dwarvesButtons {
	position: absolute;
	top: 0;
	right: 0;
	width: 40%;
	height: 100%;
	display: inline;
	float: right;
	overflow-x: auto;
	overflow-y: auto;
	z-index: 1;
}
#elvesButtons {
	background-color: #FFB6C1;
}
#dwarvesButtons {
	background-color: #7F9A65;
}
#buttons {
	position: absolute;
	top: 50%;
	left: 50%;
}
#clickable {
	font-size: 2em;
}
#mainDiv {
	width: 100%;
	height: 100%;
	display: inline;
	float: left;
	overflow-x: auto;
	overflow-y: auto;
	z-index: 0;
}
#map .key {
	background-color: #ffff00 !important;
}
#map .bomb {
	background-color: #000 !important;
}
#map .door {
	background-color: #7a5230 !important;
}
#map .vrplayer {
	background-color: #ff00ff !important;
}
#map .playertrigger {
	background-color: #9A32CD !important;
}
#map .pitfall {
	background-color: #4A7023 !important;
}
#map {
	border-spacing: 1px;
}
#map td {
	min-width: 35px;
	width: 35px;
	min-height: 35px;
	height: 35px;
	background-color: #327ed4;
}
#map .wall.explored {
	background-color: #D3D3D3;
}
#map .floor.explored, #map .corridor.explored {
	background-color: #769f50;
}