html, body {
	height: 100%;
	width: 100%;
}
body {
    background-color: #F0F0F0;
}
* {
	margin: 0px;
	padding: 0px; 
	outline: none;
	border: 0px;
}
#buttons {
	position: absolute;
	left: 10%;
	top: 10%;
}
#clickable {
	font-size: 1.5em;
}
#mainDiv {
	width: 100%;
	height: 100%;
	display: inline;
	float: left;
	overflow-x: auto;
	overflow-y: auto;
	z-index: 0;
}
#map .Key {
	background-color: #FFFF00 !important;
}
#map .Bomb {
	background-color: #000000 !important;
}
#map .Door {
	background-color: #7A5230 !important;
}
#map .Player {
	background-color: #FF00FF !important;
}
#map .Player_Trigger {
	background-color: #9A32CD !important;
}
#map .Pitfall {
	background-color: #4A7023 !important;
}
#map .Landmine {
	background-color: #FF6C6C !important;
}
#map .Carrot {
	background-color: #FFA500 !important;
}
#map .Killer_Bunny {
	background-color: #FFFFFF !important;
}
#map .Invisible_Wall {
	background-color: #E6E6E6 !important;
}
#map .Damaged_Wall {
	background-color: #BFBFBF !important;
}
#map .Gate {
	background-color: #424242 !important;
}
#map .Crate {
    background-color: #ffcc00 !important;
}
#map {
	border-spacing: 0px;
}
#map td, #map th {
	min-width: 40px;
	width: 40px;
	min-height: 40px;
	height: 40px;
	background-color: #327ed4;
}
#map .Wall.explored {
	background-color: #D3D3D3;
}
#map .Floor.explored, #map .Corridor.explored, #map .Platform {
	background-color: #769f50;
}
#endedWinners, #endedMessage, .pausemessage {
	text-align: center;
}
#ended, #paused {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#disableFS {
	position: fixed;
	position: fixed;
	left: 50%;
	transform: translate(-50%, -50%);
}
#dangerBox, #warningBox, #successBox {
    position: absolute;
    z-index: 1400;
    top: 2%;
    right: 2%;
    margin: 0px auto;
    text-align: center;
    display: none;
}